<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PCDAY.UA</title>
  <link rel="stylesheet" href="style.css">
  <link rel="icon" type="image/png" href="images/logo.png">
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
</head>
<body>
  <!-- Шапка -->
  <header>
    <div class="logo">
      <a href="index.html"><img src="images/logo.png" alt="PCDAY.UA"></a>
      <a href="index.html"><span>PCDAY.UA</span></a>
    </div>
    <div class="tagline">
      <img src="images/dev.png" alt="Developer">
      <h1>Вибір для будь-якої потреби!</h1>
      <img src="images/gamer.png" alt="Gamer">
    </div>
    <div class="user-actions">
      <a href="#">🔒 Увійти</a>
      <a href="#">👤 Зареєструватися</a>
    </div>
  </header>
  <hr>

<div class="logo1" style="padding-left:13%;padding-right:8%;padding-top:1%;padding-bottom:1%">

<span> <span style="color: orange; font-size: 29px; font-weight: 600;"> Наву́шники</span> 
 — пристрій для особистого прослуховування музики або інших звукових записів, у комплекті з мікрофоном можуть використовуватись як засіб для ведення</span>
</div>
<hr>

<section class="catalog" id="app">
  <div class="sidebar">
    <div class="filter-group">
      <h4>Виробник</h4>
      <label><input type="checkbox" value="Logitech" v-model="filters.brands"> Logitech</label><br>
      <label><input type="checkbox" value="HyperX" v-model="filters.brands"> HyperX</label><br>
      <label><input type="checkbox" value="Razer" v-model="filters.brands"> Razer</label>
    </div>
<div class="filter-group">
      <h4>Підключення</h4>
      <label><input type="checkbox" value="Дротове" v-model="filters.vid"> Дротове</label><br>
      <label><input type="checkbox" value="Бездротове" v-model="filters.vid"> Бездротове</label><br>
      <label><input type="checkbox" value="Комбіноване" v-model="filters.vid"> Комбіноване</label>
    </div>

  </div>


  <div class="product-list">
    <div v-for="product in filteredProducts" :key="product.id" class="product-card">
      <div class="product-img">
         <a :href="'Tovar.html?id=' + product.id">
        <img :src="product.image" :alt="product.name" style="max-width: 250px; max-height: 250px;">
      </a>

      </div>
      <h4 style="font-size: 18px;">
        
    <a :href="'Tovar.html?id=' + product.id" style="color:#2c5ce2;">{{ product.name }}</a>
</h4>

      

        <p>Виробник: {{ product.brand }}</p>
        <p style="color: #3382f8;font-weight:600;font-size:large">Ціна: {{ product.price }}</p>

    </div>
  </div>
</section>


  <script>
  const { createApp, ref, computed } = Vue;

  createApp({
    setup() {
      const products = ref([
      { id: 119, name: 'Logitech G435 Lightspeed (981-001074)', brand: 'Logitech', image: "images/Kompl/Logitech G435 Lightspeed (981-001074).jpg", price: 4899,vid: 'Бездротове' },///
      { id: 120, name: 'Logitech PRO X Gaming', brand: 'Logitech', image: "images/Kompl/Logitech PRO X Gaming.jpg", price: 6799,vid: 'Дротове' },
      { id: 121, name: 'HyperX Cloud Alpha', brand: 'HyperX',  image: "images/Kompl/HyperX Cloud Alpha.png", price: 3599,vid: 'Дротове' },
      { id: 122, name: 'HyperX Cloud Stinger 2 Core', brand: 'HyperX',  image: "images/Kompl/HyperX Cloud Stinger 2 Core.jpg", price: 1499,vid: 'Дротове' },
      { id: 123, name: 'HyperX Cloud III', brand: 'HyperX',  image: "images/Kompl/HyperX Cloud III.jpg", price: 3859,vid: 'Дротове' },
      { id: 124, name: 'Razer BlackShark V2 X', brand: 'Razer', image: "images/Kompl/Razer BlackShark V2 X.png", price: 2399,vid: 'Дротове' },
      { id: 125, name: 'Razer Barracuda X 2022', brand: 'Razer', image: "images/Kompl/Razer Barracuda X 2022.jpg", price: 5499,vid: 'Комбіноване' }
      
    ]);
    

      const filters = ref({
        brands: [],
        vid: []
      });

      const filteredProducts = computed(() => {
        return products.value.filter(product => {
          const matchBrand = filters.value.brands.length === 0 || filters.value.brands.includes(product.brand);
          const matchVid = filters.value.vid.length === 0 || filters.value.vid.includes(product.vid)
          return matchBrand && matchVid ;
        });
      });

      return {
        products,
        filters,
        filteredProducts
      };
    }
  }).mount('#app');
</script>






     <hr>
    <section class="text">
 <div class="logo1">
            <img src="images/logo.png" alt="PCDAY.UA ">
            <span> <span style="color: orange; font-size: 29px; font-weight: 600;">PCDAY.UA</span> - каталог описів і цін на побутову і комп'ютерну техніку та переферію. Наше завдання — допомогти підібрати і купити потрібну модель за
                найкращою ціною в інтернет-магазинах. В каталозі можна знайти всю необхідну для вибору інформацію — порівняння товарів, підбір моделей за
                параметрами, детальні описи, пошук товару за назвою, відгуки користувачів, фотогалереї товарів, глосарій термінів, огляди, інструкції, рейтинг товарів,
                рекомендації експертів, каталог брендів і багато іншого.</span>
        </div>
        
    </section>
    <hr>
  <!-- Футер -->
  <footer class="footer">
    <div class="footer-section">
      <h3>Про проєкт</h3>
      <ul>
        <li><a href="#">Як нам зателефонувати?</a></li>
        <li><a href="#">Розміщення прайс-листів</a></li>
        <li><a href="#">Магазинам</a></li>
        <li><a href="#">Політика конфіденційності</a></li>
        <li><a href="#" class="highlight">Запитання й побажання щодо сайту</a></li>
        <li><a href="#">Популяризувати проєкт <span class="plus">➕</span></a></li>
      </ul>
      <p class="copyright">© PCDAY.UA, 2024-2025</p>
    </div>

    <div class="footer-section">
      <h3>Ми в інших країнах</h3>
      <ul>
        <li><a href="#">Україна</a></li>
        <li><a href="#">Велика Британія</a></li>
        <li><a href="#">США</a></li>
        <li><a href="#">Польща</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Ваш регіон</h3>
      <p>Україна, UA</p>
      <p>Запоріжжя <span class="location-icon">📍</span></p>
      <div class="social-icons">
        <a href="#"><img src="images/icon/facebook.svg" alt="Facebook"></a>
        <a href="#"><img src="images/icon/inst.svg" alt="Instagram"></a>
        <a href="#"><img src="images/icon/telegram.svg" alt="Telegram"></a>
      </div>
    </div>
  </footer>
</body>
</html>
