<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PCDAY.UA</title>
  <link rel="stylesheet" href="style.css">
  <link rel="icon" type="image/png" href="images/logo.png">
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
</head>
<body>
  <!-- Шапка -->
  <header>
    <div class="logo">
      <a href="index.html"><img src="images/logo.png" alt="PCDAY.UA"></a>
      <a href="index.html"><span>PCDAY.UA</span></a>
    </div>
    <div class="tagline">
      <img src="images/dev.png" alt="Developer">
      <h1>Вибір для будь-якої потреби!</h1>
      <img src="images/gamer.png" alt="Gamer">
    </div>
    <div class="user-actions">
      <a href="#">🔒 Увійти</a>
      <a href="#">👤 Зареєструватися</a>
    </div>
  </header>
  <hr>

<div class="logo1" style="padding-left:13%;padding-right:8%;padding-top:1%;padding-bottom:1%">

<span> <span style="color: orange; font-size: 29px; font-weight: 600;">Материнська плата</span> –  найважливіша деталь комп'ютера. Вона забезпечує зв'язок між пристроями 
і передачу даних різними шинами та інтерфейсами. Це основа, від якої залежить робота всіх компонентів.</span>
</div>
<hr>

<section class="catalog" id="app">
  <div class="sidebar">
    <div class="filter-group">
      <h4>Виробник</h4>
      <label><input type="checkbox" value="Asus" v-model="filters.brands"> Asus</label><br>
      <label><input type="checkbox" value="Gigabyte" v-model="filters.brands"> Gigabyte</label><br>
      <label><input type="checkbox" value="ASRock" v-model="filters.brands"> ASRock</label><br>
      <label><input type="checkbox" value="MSI" v-model="filters.brands"> MSI</label>

    </div>
    <div class="filter-group">
      <h4>Статус</h4>
      <label><input type="checkbox" value="Новий" v-model="filters.status"> Новий</label><br>
      <label><input type="checkbox" value="Б/в" v-model="filters.status"> Б/в</label>
    </div>
    <div class="filter-group">
      <h4>Виробник</h4>
      <label><input type="checkbox" value="INTEL" v-model="filters.vid"> INTEL</label><br>
      <label><input type="checkbox" value="AMD" v-model="filters.vid"> AMD</label>
    </div>
  </div>


  <div class="product-list">
    <div v-for="product in filteredProducts" :key="product.id" class="product-card">
      <div class="product-img">
         <a :href="'Tovar.html?id=' + product.id">
        <img :src="product.image" :alt="product.name" style="max-width: 250px; max-height: 250px;">
      </a>

      </div>
      <h4 style="font-size: 18px;">
        
    <a :href="'Tovar.html?id=' + product.id" style="color:#2c5ce2;">{{ product.name }}</a>
</h4>

      

        <p>Виробник: {{ product.brand }}</p>
        <p>Статус: {{ product.status }}</p>
        <p style="color: #3382f8;font-weight:600;font-size:large">Ціна: {{ product.price }}</p>

    </div>
  </div>
</section>


  <script>
  const { createApp, ref, computed } = Vue;

  createApp({
    setup() {
      const products = ref([
        { id: 23, name: 'Asus ROG STRIX B850-A GAMING WIFI', brand: 'Asus', status: 'Новий', image: "images/Kompl/Asus ROG STRIX B850-A GAMING WIFI.jpg", price: 13999,vid: 'AMD' },
        { id: 24, name: 'Asus TUF GAMING B850-PLUS WIFI', brand: 'Asus', status: 'Новий', image: "images/Kompl/Asus TUF GAMING B850-PLUS WIFI.jpg", price: 10189,vid: 'AMD' },
        { id: 25, name: 'Asus TUF GAMING B850M-PLUS WIFI', brand: 'Asus', status: 'Новий', image: "images/Kompl/Asus TUF GAMING B850M-PLUS WIFI.jpg", price: 8999,vid: 'AMD' },
        { id: 26, name: 'Gigabyte B850 AORUS ELITE WIFI7', brand: 'Gigabyte', status: 'Новий', image: "images/Kompl/Gigabyte B850 AORUS ELITE WIFI7.jpg", price: 16500,vid: 'AMD' },
        { id: 27, name: 'ASRock B850 Pro RS WiFi', brand: 'ASRock', status: 'Новий', image: "images/Kompl/ASRock B850 Pro RS WiFi.jpg", price: 14999,vid: 'AMD' },
        { id: 28, name: 'MSI MPG X870E EDGE TI WIFI', brand: 'MSI', status: 'Новий', image: "images/Kompl/MSI MPG X870E EDGE TI WIFI.jpg", price: 19109,vid: 'AMD' },
        { id: 29, name: 'Asus ROG STRIX B860-F GAMING WIFI', brand: 'Asus', status: 'Новий', image: "images/Kompl/Asus ROG STRIX B860-F GAMING WIFI.jpg", price: 14599,vid: 'INTEL' },
        { id: 30, name: 'Gigabyte B850 GAMING WIFI6', brand: 'Gigabyte', status: 'Новий', image: "images/Kompl/Gigabyte B850 GAMING WIFI6.jpg", price: 7999,vid: 'AMD' },
        { id: 44, name: 'Asus Prime B450M-A II', brand: 'Asus', status: 'Б/в', image: "images/Kompl/Asus Prime B450M-A II.jpg", price: 3899,vid: 'AMD' },
        { id: 45, name: 'Gigabyte B760M D3HP DDR4', brand: 'Gigabyte', status: 'Б/в', image: "images/Kompl/Gigabyte B760M D3HP DDR4.jpg", price: 4499,vid: 'INTEL' }
    ]);

      const filters = ref({
        brands: [],
        status: [],
        vid: []
      });

      const query = new URLSearchParams(window.location.search);
      const vidParam = query.get('vid');
      if (vidParam && ['AMD', 'INTEL'].includes(vidParam)) {
        filters.value.vid.push(vidParam);
}

      const filteredProducts = computed(() => {
        return products.value.filter(product => {
          const matchBrand = filters.value.brands.length === 0 || filters.value.brands.includes(product.brand);
          const matchStatus = filters.value.status.length === 0 || filters.value.status.includes(product.status);
          const matchVid = filters.value.vid.length === 0 || filters.value.vid.includes(product.vid)
          return matchBrand && matchStatus && matchVid;
        });
      });

      return {
        products,
        filters,
        filteredProducts
      };
    }
  }).mount('#app');
</script>


     <hr>
    <section class="text">
 <div class="logo1">
            <img src="images/logo.png" alt="PCDAY.UA ">
            <span> <span style="color: orange; font-size: 29px; font-weight: 600;">PCDAY.UA</span> - каталог описів і цін на побутову і комп'ютерну техніку та переферію. Наше завдання — допомогти підібрати і купити потрібну модель за
                найкращою ціною в інтернет-магазинах. В каталозі можна знайти всю необхідну для вибору інформацію — порівняння товарів, підбір моделей за
                параметрами, детальні описи, пошук товару за назвою, відгуки користувачів, фотогалереї товарів, глосарій термінів, огляди, інструкції, рейтинг товарів,
                рекомендації експертів, каталог брендів і багато іншого.</span>
        </div>
        
    </section>
    <hr>
  <!-- Футер -->
  <footer class="footer">
    <div class="footer-section">
      <h3>Про проєкт</h3>
      <ul>
        <li><a href="#">Як нам зателефонувати?</a></li>
        <li><a href="#">Розміщення прайс-листів</a></li>
        <li><a href="#">Магазинам</a></li>
        <li><a href="#">Політика конфіденційності</a></li>
        <li><a href="#" class="highlight">Запитання й побажання щодо сайту</a></li>
        <li><a href="#">Популяризувати проєкт <span class="plus">➕</span></a></li>
      </ul>
      <p class="copyright">© PCDAY.UA, 2024-2025</p>
    </div>

    <div class="footer-section">
      <h3>Ми в інших країнах</h3>
      <ul>
        <li><a href="#">Україна</a></li>
        <li><a href="#">Велика Британія</a></li>
        <li><a href="#">США</a></li>
        <li><a href="#">Польща</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Ваш регіон</h3>
      <p>Україна, UA</p>
      <p>Запоріжжя <span class="location-icon">📍</span></p>
      <div class="social-icons">
        <a href="#"><img src="images/icon/facebook.svg" alt="Facebook"></a>
        <a href="#"><img src="images/icon/inst.svg" alt="Instagram"></a>
        <a href="#"><img src="images/icon/telegram.svg" alt="Telegram"></a>
      </div>
    </div>
  </footer>
</body>
</html>
